<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
	<link rel="stylesheet" href="../assets/css/html5tutorial-demo.css" th:href="@{/assets/css/html5tutorial-demo.css}" />
	
</head>
<body>
<div class="container">
	<br/>
	<br/>
	<br/>
	<div class="offset1 span10 center">
		<h1>Books</h1>
		<br/>
		<br/>
		<table id="booksTable" class="table table-bordered">
			<thead>
				<tr>
					<td class="center strong">#</td>
					<td class="center strong">Title</td>
					<td class="center strong">Authors</td>
					<td class="center strong">Availability</td>
					<td class="center strong">Details</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book,rowStat : ${books}">
					<td class="center middle" th:text="${rowStat.count}">1</td>
					<td th:text="${book.title}"></td>
					<td>
						<a href="#"
							th:text="${#strings.abbreviate(#strings.listJoin(book.authors,','),20)}"
							th:attr="data-authors=${#strings.listJoin(book.authors,',')}">
						</a>
					</td>
					<td class="center">
						<img src="/assets/img/ok.png"
							th:if="${book.status == true}" 
							th:src="@{/assets/img/ok.png}"></img>
						
						<img src="/assets/img/ko.png"
							th:unless="${book.status == true}" 
							th:src="@{/assets/img/ko.png}"></img>	
					</td>
					<td class="center">
						<i class="icon-search clickable" th:attr="data-isbn=${book.isbn}"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="modal" id="bookDetails" style="display:none;">
	    <div class="modal-header">
		    <button class="close" data-dismiss="modal">&times;</button>
		    <h3>Book details</h3>
	    </div>
	    <div class="modal-body">
	   		<table class="table table-bordered">
	   			<tbody>
	   				<tr>
	   					<td class="center strong">ISBN</td>
	   					<td class="bookIsbn"></td>
	   				</tr>
	   				<tr>
	   					<td class="center strong">Title</td>
	   					<td class="bookTitle"></td>
	   				</tr>
	   				<tr>
	   					<td class="center strong">Description</td>
	   					<td class="bookDescription"></td>
	   				</tr>
	   				<tr>
	   					<td class="center strong">Authors</td>
	   					<td class="bookAuthors"></td>
	   				</tr>	   				
	   				<tr>
	   					<td class="center strong">Category</td>
	   					<td class="bookCategory"></td>
	   				</tr>
	   				<tr>
	   					<td class="center strong">Editor</td>
	   					<td class="bookEditor"></td>
	   				</tr>
	   				<tr>
	   					<td class="center strong">Quantity</td>
	   					<td class="bookQuantity"></td>
	   				</tr>
	   				<tr>
	   					<td class="center strong">Availability</td>
	   					<td>
							<img class="bookStatusOk" src="/assets/img/ok.png"
								th:src="@{/assets/img/ok.png}"></img>
						
							<img class="bookStatusKo" src="/assets/img/ko.png" 
								th:src="@{/assets/img/ko.png}"></img>	   					
	   					</td>
	   				</tr>	   					   					   					   					   					   					   				
	   			</tbody>
	   		</table>
	    </div>
	    <div class="modal-footer center">
	    	<a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
	    </div>
    </div>
    <script src="assets/js/jquery.js" th:src="@{/assets/js/jquery.js}"></script>
    <script src="assets/js/bootstrap.js" th:src="@{/assets/js/bootstrap.js}"></script>
	<script src="assets/js/html5tutorial.js" th:src="@{/assets/js/html5tutorial.js}"></script>
</div>
</body>
</html>